.loader{
    color: green;
}


.skip_button{
    position: absolute;
    bottom: 15px;
    right: 0;
    padding: 10px 20px;
    font-weight: bold;
    z-index: 1;
}

ion-slides {
    height: 100%;
}

.swiper-pagination{
    top: 10px;
}

ion-header::after{
    display: none;
}

.slide_photo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.slide_text{
    color: #e9b15d;
}

.login_photo{
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

.login_motto{
    color: grey;
    letter-spacing: 0.5px;
    font-size: 17px;
}

.app_name{
    font-size: 30px;
    font-weight: bold;
    color: #3a7be0;
}

.login_input{
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    padding-left: 10px;
}

.without_register{
    margin-top: 80px;
    color: gray;
    width: 100%;
}

.add-entry_input{
    width: 100%;
    /* text-align: center; */
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    padding-left: 10px;
    margin-bottom: 20px;
}

.calc-currency-container{
    margin-bottom: 10px;
    margin: 0 10px 10px;
}

.calc-currency{
    color: lightgray;
    font-size: 35px;
    margin: 0 0 0 auto;
}

.calc-currency-true{
    color: green;
}

.calc-currency-text{
    color: gray;
}

.add-entry_input_cash{
    margin-top: 0;
    border-radius: 15px;
    /* background-color: rgb(240, 240, 240); */
    width: 50%;
    padding-left: 10px;
    margin-bottom: 20px;
    --background: rgb(240, 240, 240);
    --border-color: unset;
    color: gray;
    --color: gray;
    height: 38px;
    --box-shadow: unset;
    --border-radius: 15px;
    text-transform: initial;
    font-size: 16px;
}

.login_input:last-child{
    margin-bottom: 20px;
}

.native-input{
    --padding-start: 15px;
}

.login_content{
    text-align: center;
}

.login_register{
    --background: #e9b15d;
}

.login_btn{
    --border-radius: 10px;
}

.button_space{
    margin-top: 40px;
}

.home-page_options{
    position: absolute;
    height: 56px;
    width: 65px;
    top: 0;
    right: 0;
    z-index: 999;
    color: #e9b15d;
}

.home-page_options_left{
    position: absolute;
    height: 56px;
    margin-left: 10px;
    top: 0;
    left: 0;
    z-index: 999;
    color: #e9b15d;
}

.home-page_options_left ion-icon{
    font-size: 40px;
}

.home-page_options_settings_place{
    position: absolute;
    height: 56px;
    width: 65px;
    top: 0;
    right: 1;
    z-index: 999;
    color: #e9b15d;
}

.home-page_title{
    text-align: center;
    color: #3a7be0;
}

.home-page_icon{
    --icon-font-size: 30px;
    font-size: 30px;
}
ion-icon.home-page_icon.function{
    font-size: 40px;
}

.empty-home-page{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-home-page_main_text{
    color:#3a7be0;
    font-size: 20px;
}

.logout_button{
    --color:#3a7be0;
}

.empty-home-page_text{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e9b15d;
    text-align: center;
}

.add-entry_list{
    text-align: center;
}

.add-entry_income_or_expense{
    color: grey;
    letter-spacing: 0.5px;
    font-size: 17px;
    margin: 0 auto;
}

.add-entry_last_entry{
    margin-bottom: 20px;
}

.add-entry_button{
    --border-radius: 10px;
    --background: rgb(240, 240, 240);
    --box-shadow: none;
    color: gray;
    width: 100px;
    height: 40px;
}

.add-entry_button.true{
    --background: green;
    color: white;
}

.add-entry_button.expense.true{
    --background: rgb(180, 5, 5);
    color: white;
}

.add-entry_button_last{
    margin-top: 20px;
    --background: #3a7be0;
    --border-radius: 10px;
    width: 120px;
    height: 40px;
    color: white;
}

.home-page_description{
    font-size: 17px;
    margin: 0;
    margin-right: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-page_edit_icon{
    /* --icon-font-size: 20px; */
    margin: 0;
    padding: 0;
    height: 20px;
    margin-right: 0px;
    margin-left: 20px;
    /* font-size: px; */
    color: #e9b15d;
}

.home-page_edit_icon a{
    /* --icon-font-size: 20px; */
    margin: 0;
    padding: 0;
    /* font-size: px; */
}

.home-page_amount_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    font-size: 17px;
    /* margin-bottom: 10px; */
}

.home-page_date{
    background-color: #3a7be0;
    padding: 10px;
    color: white;
}
.home-page_date~ul{
    margin: 0;
    padding: 0;
}

ion-item.home-page_item_list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    position: relative;
}

.home-page_expense_true{
    color: red;
    margin: 0;
}

.home-page_income_true{
    color: green;
    margin: 0;
}


.home-page_status{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 30px 0;
}

.home-page_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 0;
    color: gray;
}

.home-page_status p{
    font-size: 30px;
    margin: 0;
}

.home-page_details p{
    font-size: 20px;
    margin-bottom: 10px;
}
.home-page_status_amount{
    font-size: 30px;
}

.home-page_status_amount.false{
    font-size: 30px;
    color: red;
}

p.home-page_status_title{
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.entry-page_circle_position{
    margin: 20px;
}

.entry-page_circle{
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

ion-footer.footer-md::before{
    height: unset;
}

.currency_class{
    --max-height: 75%;
    --width: 90%;
}

.action-sheet-group{
    border-radius: 10px 10px 0 0;
}

.settings-page_icons{
    position: absolute;
    right: 10px;
    font-size: 25px;
}

.settings-page_property{
    margin-top: 30px;
    margin-bottom: 30px;
}

.settings-page_synchronizeData{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.settings-page_synchronizeData .settings-page_synchronizeData_info{
   color: gray;
}

.settings-page_synchronizeData_options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-page_synchronizeData_option{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.settings-page_synchronizeData_option.login{
   background-color: #3a7be0;
}

.settings-page_synchronizeData_option.register{
    background-color: #e9b15d;
 }

.settings-page_error_message{
    margin-bottom: 20px;
}
.settings-page_error_message.true{
    color: red;
}
.settings-page_error_message.false{
    color: green;
}

.add-entry-page_error_message{
    margin-bottom: 0;
}

.add-entry-page_error_message.true{
    color: red;
}

.add-entry-page_error_message.false{
    color: green;
}